.chamada{
    background: aquamarine;
    display: flex;
    margin-top:80px;
    margin-bottom: 80px;
    justify-content: center;
}
body{
    font-family: "Josefin Sans", sans-serif;
    color:white;
    margin-bottom: 100px;
    background: black;
    margin: 0px;
}
header{
    font-size: 35px;
    color:black;
    border-bottom: 3px solid black;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-texto{
    margin-right:5%;
}
